<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Contacto</title></head>
<body>
<form action="#" th:action="@{/contacto}" method="post">
    <p>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" th:value="!${exito}? ${contacto.email}">
    </p>
    <p>
        <label for="message">Mensaje: </label>
        <input type="text" name="mensaje" id="message" th:value="!${exito}? ${contacto.mensaje}">
    </p>
    <p><input type="submit" value="Enviar"></p>
</form>
<ul th:if="!${exito}">
    <li th:each="err : ${#fields.errors('contacto.*')}" th:text="${err}"></li>
</ul>
<p th:if="${exito}" th:text="${exito}"></p>
</body>
</html>
